[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[dev-packages]

[requires]
python_version = "3.11"
